/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

body {
  background-color: black;
}

h1 {
  color: white;
}

.head {
  color: white;
  text-align: center;
}
